<a href="https://colab.research.google.com/github/YN1752/Spam-Classification/blob/main/Spam_classif.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import Dataset**

In [1]:
import pandas as pd
import string

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data = pd.read_csv('drive/My Drive/spamdata.csv')
data

     label                                               text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
data['label'].value_counts(normalize=True)

ham     0.865937
spam    0.134063
Name: label, dtype: float64

# **Data Pre-processing**

In [8]:
cleaned = data['text'][2].lower()
cleaned

"free entry in 2 a wkly comp to win fa cup final tkts 21st may 2005. text fa to 87121 to receive entry question(std txt rate)t&c's apply 08452810075over18's"

In [6]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [15]:
punctuations = string.punctuation

In [18]:
cleaned = "".join(character for character in cleaned if character not in punctuations)
cleaned

'free entry in 2 a wkly comp to win fa cup final tkts 21st may 2005 text fa to 87121 to receive entry questionstd txt ratetcs apply 08452810075over18s'

In [19]:
from spacy.lang.en import English
nlp = English()

In [22]:
my_doc = nlp(cleaned)

In [23]:
token_list = []
for token in my_doc:
  token_list.append(token.text)

In [30]:
token_list

['free',
 'entry',
 'in',
 '2',
 'a',
 'wkly',
 'comp',
 'to',
 'win',
 'fa',
 'cup',
 'final',
 'tkts',
 '21st',
 'may',
 '2005',
 'text',
 'fa',
 'to',
 '87121',
 'to',
 'receive',
 'entry',
 'questionstd',
 'txt',
 'ratetcs',
 'apply',
 '08452810075over18s']

In [32]:
from spacy.lang.en.stop_words import STOP_WORDS

In [28]:
filtered_sentence = []
for word in token_list:
  lexeme = nlp.vocab[word]
  if lexeme.is_stop == False:
    filtered_sentence.append(word)

In [31]:
filtered_sentence

['free',
 'entry',
 '2',
 'wkly',
 'comp',
 'win',
 'fa',
 'cup',
 'final',
 'tkts',
 '21st',
 '2005',
 'text',
 'fa',
 '87121',
 'receive',
 'entry',
 'questionstd',
 'txt',
 'ratetcs',
 'apply',
 '08452810075over18s']

In [34]:
cleaned = " ".join(filtered_sentence)
cleaned

'free entry 2 wkly comp win fa cup final tkts 21st 2005 text fa 87121 receive entry questionstd txt ratetcs apply 08452810075over18s'

In [35]:
def clean_text(text):

  cleaned = text.lower()

  punctuations = string.punctuation
  cleaned = "".join(character for character in cleaned if character not in punctuations)

  my_doc = nlp(cleaned)
  token_list = []
  for token in my_doc:
    token_list.append(token.text)

  filtered_sentence = []
  for word in token_list:
    lexeme = nlp.vocab[word]
    if lexeme.is_stop == False:
      filtered_sentence.append(word)
  
  cleaned = " ".join(filtered_sentence)

  return cleaned

In [40]:
data['cleaned'] = data['text'].apply(clean_text)
data.head()

,label,text,cleaned
0,ham,"Go until jurong point, crazy.. Available only ...",jurong point crazy available bugis n great wor...
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry 2 wkly comp win fa cup final tkts 2...
3,ham,U dun say so early hor... U c already then say...,u dun early hor u c
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah nt think goes usf lives

# **Feature Engineering**

In [ ]:
data['word_count'] = data['text'].apply(lambda x: len(x.split()))
data['word_count_cleaned'] = data['cleaned'].apply(lambda x: len(x.split()))
data['char_count'] = data['cleaned'].apply(lambda x: len(x))
data['char_count_no_space'] = data['cleaned'].apply(lambda x: len(x.replace(" ","")))
data["dig_count"] =